.add-user-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;

  @media (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-content {
    width: 400px;
    background-color: #FFF;
    border-radius: 3px;

    @media (max-width: 767px) {
      width: 100%;
    }

    .modal-header {
      padding: 20px 30px;
      border-bottom: 1px solid #888;

      h3 { margin: 0; }
    }

    .modal-body {
      padding: 20px 30px;

      .text-input-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }

        label {
          display: inline-block;
          width: 50px;
        }

        .input-field {
          flex: 1;

          &.is-error {
            border-color: #F55759;
          }
        }
      }

      .buttons-wrapper {
        margin-top: 20px;
        text-align: right;

        button {
          margin-left: 10px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}